@font-face {
    font-family: Bebas;
    src: url(../fonts/Bebas-Regular.ttf);
}

html {
    background: linear-gradient(-45deg, #3c4d69, #3a5e4d, #5c252f, #47214a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    overflow: hidden;
    font-size: 1vw;
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 0.5vw;
    }
  }

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#container {
    width: 100vw;
    height: 100vh;
}

#center {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#name {
    font-family: Bebas;
    font-size: 20em;
}

#bottom {
    font-family: Bebas;
    position: absolute;
    bottom: 10%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#icons div {
    display: inline-block;
}

#icons div:last-child {
    margin-left: 10em;
}

#icons img {
    width: 10em;
    height: 10em;
}

#privacy-policy {
    font-family: Bebas;
    position: absolute;
    bottom: 1%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    text-align: center;
    font-size: 4em;
}

#privacy-policy a {
    color: #808080;
}

#privacy-policy a:hover {
    color: #bdbdbd;
}